<div class="app-use-cases">
  {{#each site.solutions.sort}}
    {{#with (expand_link "solutions/" this.key)}}
      {{#if this.dark}}
        {{#set 'cssClass' 'dark'}}
      {{else}}
        {{#set 'cssClass' 'light'}}
      {{/if}}
      <a class="app-use-cases__card {{cssClass}}" href="{{this.link}}" style="background-color:{{this.color}}">
        <h3>{{this.usecase}}</h3>
        <img src="/images/solution-images/{{this.key}}.svg">
      </a>
    {{/with}}
  {{/each}}
</div>
